.flag {
    max-width: 100%;
    border: 2px solid #000;
}

.countryName {
    text-align: center;
}

.borderImg {
    width: 40px;
    margin: 0 40px;
    border: 1px solid #000;
}

.bordersBlock{
    display: inline-block;
    margin: 20px;
}
